@using Nop.Core.Domain;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure;
@using Nop.Services.Security;
@using Nop.Web.Framework.Themes;

@{
    var storeSettings = EngineContext.Current.Resolve<StoreInformationSettings>();
    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var displayMiniProfiler = storeSettings.DisplayMiniProfilerInPublicStore
        && (!storeSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;

    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");

    // TODO? maybe remove this
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");

    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }
    //custom tag(s)
    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }


    // shortcut icons
    var iconsFolder = string.Format("~/Themes/{0}/Content/images/icons/", themeName);
    Html.AddHeadCustomParts(string.Format("<link rel=\"shortcut icon\" type=\"image/x-icon\" href=\"{0}{1}\" />", iconsFolder, "favicon.ico"));
    Html.AddHeadCustomParts(string.Format("<link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"{0}{1}\" />", iconsFolder, "favicon-16x16.png"));
    Html.AddHeadCustomParts(string.Format("<link rel=\"icon\" type=\"image/png\" sizes=\"96x96\" href=\"{0}{1}\" />", iconsFolder, "favicon-32x32.png"));
    Html.AddHeadCustomParts(string.Format("<link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"{0}{1}\" />", iconsFolder, "favicon-96x96.png"));

    Html.AddHeadCustomParts(string.Format("<link rel=\"apple-touch-icon\" href=\"{0}{1}\" />", iconsFolder, "apple-touch-icon.png"));
    Html.AddHeadCustomParts(string.Format("<link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"{0}{1}\" />", iconsFolder, "media/apple-touch-icon-72x72.png"));
    Html.AddHeadCustomParts(string.Format("<link rel=\"apple-touch-icon\" sizes=\"114x114\" href=\"{0}{1}\" />", iconsFolder, "i/media/apple-touch-icon-114x114.png"));
    Html.AddHeadCustomParts(string.Format("<link rel=\"apple-touch-icon\" sizes=\"144x144\" href=\"{0}{1}\" />", iconsFolder, "i/media/apple-touch-icon-144x144.png"));

}
<!DOCTYPE html>
<html@(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null)>
<head>
    <title>@Html.NopTitle()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @*Favicon - upload favicon.ico file to the root directory*@
    @*@Html.Action("Favicon", "Common")*@
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
</head>
<body @Html.NopPageCssClasses()>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
